{% extends "base.html" %} {% block title %}Editar Equipo{% endblock %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div
          class="card-header bg-warning text-dark d-flex justify-content-between align-items-center"
        >
          <h4 class="mb-0">Editar Equipo</h4>
          <span class="badge bg-light text-dark">Usuario: {{ usuario }}</span>
          <a href="/recepcion/listado/" class="btn btn-light btn-sm ms-2"
            >Cancelar</a
          >
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">{{ form.cliente.label }}:</label>
              {{ form.cliente }}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.tipo.label }}:</label>
              {{ form.tipo }}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.problema.label }}:</label>
              {{ form.problema }}
            </div>
            <button type="submit" class="btn btn-warning w-100">
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
