{% extends "base.html" %}
{%block title %}Iniciar sesión{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Iniciar sesión</h2>
    {% if mensaje %}
        <div class="mensaje">{{ mensaje }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>
    <p>{{ error }}</p>
</div>
{% endblock %}