{% extends "base.html" %} {% block content %}
<h2>Registrar Entrega de Equipo</h2>

{% if mensaje %}
<div class="alert alert-success">{{ mensaje }}</div>
{% endif %}

<div class="alert alert-info">
  Solo aparecerán en la lista los equipos que ya han sido diagnosticados pero
  aún no han sido entregados.
</div>

<form method="post" class="card p-4 shadow-sm">
  {% csrf_token %} {% if form.errors %}
  <div class="alert alert-danger">{{ form.errors }}</div>
  {% endif %}

  <div class="mb-3">
    <label class="form-label">{{ form.diagnostico.label }}:</label>
    {{ form.diagnostico }}
  </div>

  <button type="submit" class="btn btn-primary rounded-pill">
    Registrar Entrega
  </button>
  <a href="/entrega/verificar/" class="btn btn-secondary rounded-pill ms-2"
    >Cancelar</a
  >
</form>
{% endblock content %}
